<%# app/views/kaminari/tailwind/_paginator.html.erb %>
<nav class="mt-6 flex justify-center">
  <ul class="inline-flex -space-x-px">
    <% paginator.each_page do |page| %>
      <% if page.display_tag? %>
        <li>
          <%= paginator.page_tag(page).to_s.html_safe %>
        </li>
      <% elsif !page.was_truncated? %>
        <li>
          <span class="px-4 py-2 text-gray-500">…</span>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
